*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 500vh;
}

/*

Global CSS

 */

 li{
     list-style: none;
 }
 a{
     text-decoration: none;
     color: inherit;
 }


 /*
 
    Main CSS

  */

  nav{
      width: 100%;
      height: 80px;
      background-color: dodgerblue;
      padding: 0 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
  }

  .nav_collection{
      display: flex;
  }
  .nav_item{
      margin-left: 40px;
  }

  .banner{
      width: 80%;
      margin: 40px auto;
      display: flex;
      flex-wrap: wrap;
  }
  .banner_text{
      width: 50%;

  }
.banner_text h1{
    font-size: 64px;
    color: #555;
}
.banner_text p{
    margin-top: 20px;
    width: 70%;
    line-height: 1.5;
    color: dodgerblue;
}

  .banner_image{
      width: 50%;
      height: 450px;
      background: url(./qyn.jpg) no-repeat center/cover;

  }
  .gallery{
      text-align: center;
      font-size: 50px;
      font-weight: 300;
      color: #555;
  }

  .Gallery_con{
      width: 80%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 100px;
  }
  .card{
      width: 320px;
      height: 280px;
      margin: 10px;
  }
  .card img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .foto_div{
      width: 80%;
      height: 930px;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 100px;
  }
  .foto_con{
      width: 30%;
      height: 450px;
      background-color: wheat;
      border-radius: 15px;
      background: url(./IMAGE\ \(28\).png) no-repeat center/cover;
      margin: 0px 10px;

  }
  .foto_con button{
      width: 130px;
      height: 30px;
      background-color: rgb(33, 33, 60);
      border-radius: 5px;
      color: white;
      border: none;
      outline: none;
        margin: 20px;
  }
  .foto_text{
      width: 100%;
      height: 100px;
      margin-top: 280px;
      border-radius: 0 0 15px 15px;
  }
  .foto_text h4{
     padding: 10px 15px;
     color: rgb(31, 31, 87);
  }
.foto_text hr{
    width: 90%;
    margin: auto;
    background-color: rgb(31, 31, 87);
    height: 2px;
}
.foto_text h5{
    padding: 20px 15px;
    color: gray;

}
.foto_text h5 span{
    color: rgb(31, 31, 87);
}

.border_div{
    width: 85%;
    height: 250px;
    border: 1px solid red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.borderradius_div{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(74, 179, 77);
    border-radius: 50%;
    border: 6px solid #7EB693;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}
.borderradius_div h1{
    text-align: center;
    font-size: 42px;
    color: #274C5B;

}
.borderradius_div h1 p{
    font-size: 18px;
    color: #274C5B;
}


















/* Planshet media */
@media screen and (max-width:990px) {
    .banner_text h1{
        font-size: 44px;
    }
    .foto_div{
        width: 900px;
    }
}





  /*
    Mobile media  
   */
   @media screen and (max-width:600px) {
       nav{
           padding: 0 20px;
       }

       .nav_collection{
           display: none;
       }
       .banner_text h1{
           font-size: 30px;
       }
       .banner{
           width: 94%;
       }
       .banner_text{
           width: 100%;
       }
       .banner_image{
           width: 100%;
           height: 350px;
           margin-top: 20px;
       }
       .gallery{
           font-size: 32px;
       }
       .Gallery_con{
           width: 94%;
       }
       .foto_div{
           width: 500px;
           
       }
       .foto_con{
           width: 25%;
           height: 300px;
           margin: 30px 10px;
       }
   }